* {
    padding: 0;
    margin: 0;
}

body {
    background: #d5d7d8;
    height: 100%;
    min-height: 100%;
    font-family: Righteous;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-area {
    display: flex;
    background: #004d40;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #305049;
}

.footer {    
    background: #004d40;
    padding: 15px 5%;
    font-weight: bold;
    line-height: 35px;
    border-top: 2px solid #305049;
    color: #fff;
    text-align: center;
    font-family: Righteous;
}

.title-area h2 { 
    flex: 1;   
    text-align: center;
    font-family: Righteous;
    color: rgb(243, 235, 235); 
    font-size: 30px;
    padding: 20px 0;
}

.banner-area {
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(233, 229, 229);
    font-family: Righteous;
    font-size: 14px;       
}

.menu-area {
    display: flex;
    list-style: none;    
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.menu-area li {
    background: #122041;
    flex: 1;
    text-align: center; 
}

.menu-area li:not(:first-child) {
    border-left: 2px solidrgb(233, 229, 229);
}

.menu-area li:hover {
    background:#192e5c;
}

.menu-area li a {
    display: block;
    padding: 15px 0;
    color: inherit;
    text-decoration: none;
    font-family: Righteous;
    text-transform: uppercase;
}

input[type=checkbox], .res-menu {
    display: none;
}

/*=============================
            Login
===============================*/

.signin_wrapper {
    margin-top: 96px;
    padding: 20px;
    min-height: 70VH;
    text-align: center;
}

.signin_wrapper form {
    width: 350px;
    margin: 0 auto;
}

.signin_wrapper form button {
    width: 100%;
    padding: 10px;
}

.signin_wrapper h2 {
    font-family: Righteous;
    color: #2674af;
    font-size: 50px;
}

.user_dashboard {
    font-size: 60px;
    font-family: Righteous;
    color: #2674af;
    text-align: center;
    margin-top: 200px;
}


input {
    background: #fafafa;
    border: 1px solid #07a086;
    font-size: 16px;
    padding: 8px;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}

select {
    font-size: 16px;
    height: 38px;
    border: 1px solid #07a086;
    border-radius: 3px;
    width: 100%;
}


button {
    background: #122041;
    color: #ffffff;
    border: 1px solid #0d1831;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 3px;
}

.error_label {
    color: #F44336;
    font-weight: 600;
    margin: 10px 0px;
}

.success_label {
    color: #98c5e9;
    font-weight: 600;
    margin: 10px 0px;
}

.label_inputs {
    font-size: 18px;
    color: #03705e;
    font-family: Roboto;
    margin: 10px 0px;
    font-weight: 500;
    /* background: #03705e; */
    padding: 0px;
    display: inline-block;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cecece;
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cecece;
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cecece;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #cecece;
    text-align: center;
  }

  /*=============================
         ADMIN
===============================*/

.admin_container {
    margin-top: 10px;
    display:flex;
}

.admin_container .admin_left_nav {
    min-height: 83vh;
    background: #122041;
    border-right: 2px solid #01285e;
    width: 220px;
}

.admin_container  .admin_right {
    flex-grow: 1;
}
.admin_container  .admin_progress {
    text-align: center;
    margin: 20px 0px;
}

.admin_container .matches_tag_red {
    font-weight: 700;
    color: #F44336;
}

.admin_container .matches_tag_green {
    font-weight: 700;
    color: #4CAF50;
}

.admin_container h2 {
    margin: 0px 0px 30px 0px;
    border-bottom: 1px solid #07a086;
    color: #414141;
    font-size: 35px;
    font-family: Roboto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: left;
}

.admin_submit button {
    font-size: 20px;
    margin: 40px 0px;
    background: #07a086;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.table_wrapper {
    padding: 0px;
}

.admin_wrapper {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.admin_wrapper .border_wrapper {
    padding: 30px 50px 0px 50px;
    margin: -45px 30px 0px 30px;
    width: 97%;
    height: 90%;
    border: 1px solid #07a086;
    background: #fdfbfb;
  }
